body{
    min-height: 700vh;
    background-color: #08003c;
    color: white;
}
*{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {background-image: url('/Images/bg\ 1.jpg');}
    to {background-image: url('/Images/bg\ 2.png');}
  }

#nav-row #home-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-row #home-box ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
    height: 100%;
    align-items: end;
}
#nav-row #home-box ul li a{
    font-size: 13px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
#nav-row #home-box ul li a:hover{
    color: #f24c2f;
    font-size: 14px;
    font-weight: 200;
}
#nav-row #home-box ul li a.active{
    color: #f24c2f;
    font-size: 14px;
    font-weight: 200;
}
#nav-row #search-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav-row #search-box i{
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-right: 60px;
}
#nav-row #search-box #hover-button{
    width: 50%;
    height: 100%;
    position: relative;
}
#nav-row #search-box #hover-button button{
    border: none;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #ff5130, #de2574 );
}
/* first-row */
header .first-row{
    font-weight: 700;
    font-size: 14px;
}
/* sec-row */
header .sec-row{
}
header .sec-row #smfest-hold{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header .sec-row #smfest-hold span{
    font-size: 90px;
    line-height: 90px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
header .sec-row #smfest-hold span:nth-child(3) {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    padding: 5px;
    margin-top: 30px;
    font-weight: 200;
}
/* @-mobile (500)*/
@media screen and (max-width:500px){
    header .third-row #ticket-hold{
    margin-top: 60px;
    }
}
header .third-row #ticket-hold{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-weight: bold;
    font-size: 13px;
}
header .third-row #ticket-hold #ticket a{
    border: 1px solid black;
    padding: 12px 20px;
    font-weight: bold;
    color: white;
}
header .third-row #ticket-hold #ticket a:hover{
    color: black;
}
header .third-row #ticket-hold #sponsor a:first-child i:hover{
    color: black;
}
header .third-row #ticket-hold #sponsor{
    display: flex;
    align-items: center;
    gap: 30px;
}
header .third-row #ticket-hold #sponsor a:first-child{
    background-color: grey;
    border-radius: 50%;
    height: 50px; width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* third-row */
header .third-row #ticket-hold #sponsor a:first-child i{
    color: white;
    font-size: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px; width: 40px;
}
header .third-row #ticket-hold #sponsor a:last-child{
    color: white;
}
/* @-mobile (750)*/
@media screen and (max-width:750px){
    header .third-row #ticket-hold {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px !important;
        font-weight: bold;
        font-size: 13px;
    }
}
/* @-mobile (450) */
@media screen and (max-width:450px){
    header .sec-row #smfest-hold{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header .sec-row #smfest-hold span:nth-child(1){
        font-size: 70px;
        line-height: 70px !important;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
    }
    header .sec-row #smfest-hold span:nth-child(2){
        font-size: 70px;
        line-height: 70px !important;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/* forth-row */
.forth-row{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin-top: 60px !important;
    margin-bottom: 80px !important;
}
.forth-row .col-2{
    width: 22%;
    border: 2px solid white;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    line-height: 50px;
}
sup.volunteers {
    vertical-align: super;
    font-size: 15px;
    margin-left: -10px;
    color: white;
}
.forth-row .col-2 span:nth-child(1){
    font-size: 50px;
    font-weight: 700;
    color: #ee2f5b;
}
.forth-row .col-2 span:nth-child(2){
    font-size: 15px;
    font-weight: 500;
}
/* @-mobile (770) */
@media screen and (max-width:770px){
    .forth-row{
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        padding: 0px 40px;
    }
    .forth-row .col-2{
        width: 100% !important;
        margin-bottom: 30px !important;
    }
    .forth-row .col-2 span:nth-child(1){
        font-size: 50px;
        font-weight: 700;
        color: #ee2f5b;
    }
    .forth-row .col-2 span:nth-child(2){
        font-size: 15px;
        font-weight: 500;
    }
}


/* fifth-row */
.five-row{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.fifth-row{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.fifth-row #text-hold-one {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fifth-row #text-hold-one span:nth-child(1){
    color: #ee2f5b;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fifth-row #text-hold-one span:nth-child(2){
    color: white;
    font-weight: 900;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.fifth-row #text-hold-one span:nth-child(3){
    color: white;
    font-weight: 500;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: justify;
    line-height: 20px;
}
.fifth-row #text-hold-one span:nth-child(4){
    color: white;
    font-weight: 500;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 80px;
}
.fifth-row #text-hold-one span:nth-child(5) a{
    border: 2px solid white;
    padding: 20px 40px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    position: relative;
}
.fifth-row #img-hold-one{
    border: 3px solid #ee2f5b;
    border-radius: 7px;
    margin-top: 0px;
    position: relative;
}
.fifth-row #img-hold-one img{
    height: 100%;
    width: 100%;
    margin-left: -40px;
    margin-top: 30px;
}
.fifth-row #img-hold-one .yrs-of-exc{
    position: absolute;
    border: 2px solid white;
    background-color: black;
    width: 220px;  height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    right: -35px;
    bottom: 10px;
}
.fifth-row #img-hold-one .yrs-of-exc span:first-child{
    font-size: 60px;
    font-weight: 700;
    color: #ee2f5b;
}
.fifth-row #img-hold-one .yrs-of-exc span:last-child{
    font-size: 15px;
    font-weight: 700;
    color: white;
}
sup.th {
    vertical-align: super;
    font-size: 13px;
    margin-left: 2px;
    color: #ee2f5b;
}
/* @-mobile (500) */
@media screen and (max-width:600px){
    .fifth-row #img-hold-one .yrs-of-exc{
        position: absolute;
        border: 2px solid white;
        background-color: black;
        width: 220px !important;  height: 130px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 50px;
        right: -35px;
        bottom: 10px;
    }
    .fifth-row #text-hold-one span:nth-child(2){
        color: white;
        font-weight: 900;
        font-size: 38px;
    }
    .fifth-row #text-hold-one {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
}

/* sixth-row */
.six-row{
    width: 90%;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 100vh;
}

/* seventh-row */
.seven-row{
    width: 90%;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 100vh;
}

/* eight-row */
.carousel-section{
    margin-top: 150px;
}
.carousel-section .eight-row {
}
.carousel-section .eight-row #exhibit span {
    font-size: 45px;
    font-weight: 900;
}
.carousel-section .eight-row #arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* tenth-row-ticiket-zone */ 
.ticket-zone{
    margin-top: 80px;
    min-height: 100vh;
}
.ticket-zone .tenth-row #text-hold{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ticket-zone .tenth-row #text-hold span:nth-child(1){
    font-size: 13px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #ee2f5b;
}
.ticket-zone .tenth-row #text-hold span:nth-child(2) {
    font-size: 55px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
.ticket-zone .tenth-row #text-hold span:nth-child(3){
    font-size: 13px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}
.ticket-zone .sub-tenth-row{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.ticket-zone .sub-tenth-row #box-hold{
    border: 3px solid #ee2f5b;
    min-height: 50vh;
    width: 33.3333333%;
}
.ticket-zone .sub-tenth-row #box-hold .inner-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
}
.ticket-zone .sub-tenth-row #box-hold span:nth-child(1) {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ticket-zone .sub-tenth-row #box-hold span:nth-child(2) {
    font-size: 35px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ee2f5b;
}
.ticket-zone .sub-tenth-row #box-hold ul{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ticket-zone .sub-tenth-row #box-hold ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    gap: 2px;
    line-height: 30px;
}
.ticket-zone .sub-tenth-row #box-hold ul li .bi-check-lg{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.ticket-zone .sub-tenth-row #box-hold ul li .bi-x{
    color: white;
    font-size: 25px;
    font-weight: bolder;
} 
.ticket-zone .sub-tenth-row #box-hold ul li i.red {
    color: #ee2f5b;
}
.ticket-zone .sub-tenth-row #box-hold a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 45px;
    margin: 0 auto;
    margin-top: -10px;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 13px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
/* hover */
.ticket-zone .sub-tenth-row #box-hold .inner-box:hover {
    box-shadow: 5px 15px 20px grey;
    transition-duration: 1s;
}
.ticket-zone .sub-tenth-row #box-hold a:hover {
    height: 55px;
    transition: 0.5s;
}
.ticket-zone .sub-tenth-row #box-hold:nth-child(2) {
    border-left: none;
    border-right: none;
}  

/* @-mobile (770) */
@media screen and (max-width:770px){
    .ticket-zone{
        margin-top: 350px !important;
        min-height: 100vh;
    }
    .ticket-zone .tenth-row #text-hold span:nth-child(2) {
        font-size: 40px !important;
    }
    .ticket-zone .tenth-row #text-hold span:nth-child(3){
        width: 90% !important;
    }
    .ticket-zone .sub-tenth-row{
        margin-top: 30px;
        display: flex;
        justify-content: center !important;
    }
    .ticket-zone .sub-tenth-row #box-hold{
        border: 3px solid #ee2f5b;
        min-height: 50vh !important;
        width: 90% !important;
    }
    .ticket-zone .sub-tenth-row #box-hold:nth-child(2) {
        border-left: 2px solid #ee2f5b !important;
        border-right: 2px solid #ee2f5b !important;
        border-top: none !important;
        border-bottom: none !important;
    }
}

footer{
    background-image: url('');
    min-height: 100vh;
    margin-top: 70px;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
}
footer .eleventh-row{
    margin: 0 auto;
    width: 85%;
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
}
footer .eleventh-row #footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer .eleventh-row #footer-start span i{
    border: 1px solid white;
    border-radius: 50%;
}
footer .eleventh-row #footer-start span:nth-child(2) {
    font-size: 14px;
    text-align: center;
}
footer .eleventh-row #footer-start span:nth-child(3) {
    display: flex;
    gap: 5px;
}
#footer-start span#icon-box i.bi-facebook , i.bi-instagram , i.bi-envelope-paper-heart-fill 
     , i.bi-music-note-beamed , i.bi-linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30px; height: 30px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
footer .eleventh-row #footer-center ul{
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: lightgrey;
}
footer .eleventh-row #footer-center ul li:first-child{
    margin-bottom: 15px;
    font-size: 21px;
    color: white;
}
footer .eleventh-row #footer-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
footer .eleventh-row #footer-end span:nth-child(1){
    font-size: 21px;
    color: white;
    font-weight: bold;
}
footer .eleventh-row #footer-end span:nth-child(2){
    font-size: 14px;
}
footer .eleventh-row #footer-end span:nth-child(3) input{
    height: 50px; width: 90%;
    border-radius: 40px;
    border: 1px solid grey;
    padding-left: 20px;
    background-color: transparent;
    font-size: 14px;
}
footer .eleventh-row #footer-end span:nth-child(3) button{
    padding: 5px;
    margin-top: 10px;
    height: 50px; width: 90%;
    background-image: linear-gradient(to right, #ff5130, #de2574 );
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 15px;
}
/* @-mobile (770) */
@media screen and (max-width:770px){
    footer{
        padding-top: 80px;
    }
    footer .eleventh-row{
        margin: 0 auto;
        width: 85%;
        min-height: 60vh;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
    }
    footer .eleventh-row{
        margin: 0 auto;
        width: 95% !important;
        min-height: 60vh;
        display: flex;
        justify-content: space-between;
    }
    footer .eleventh-row #footer-start{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    footer .eleventh-row #footer-end span:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    footer .eleventh-row #footer-center{
        width: 100%;
        margin-top: 30px;
    }
    footer .eleventh-row #footer-center ul{
        padding: 10px;
        font-size: 16px !important;
    }
    footer .eleventh-row #footer-end{
        width: 100%;
    }
    footer .eleventh-row #footer-start span:nth-child(1) img{
        height: 130px !important;
    }
}
